@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Employee Payroll";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="~/Attendencedropdown.css" rel="stylesheet" />

@*<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">*@
<style>
  /*  table tr td span {
        height: 30px;
    }*/

    .Tdlbl {
        width: 15%;
        font-weight: 400;
        color: black;
    }

    .TdData {
        width: 50%;
        font-weight: bold;
        font-style: normal;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        color: black;
    }
    .Tdhead {
        font-size:medium 10px;
        color: black;
        min-width: 50%;
        max-width: 100%;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }
    .Tdbody {
        /*font: 30px;*/
        /*font-weight: 500;*/
        width: 100%;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        color: black;
    }
    @@media screen and (max-width: 600px) {
        .Tdhead {
            font-size: x-small;
        }

        nav {
            font-size: xx-small;
        }

        #tdbody {
            font-size: xx-small;
        }

        table tr td {
            font-size: xx-small;
        }
    }
</style>
<nav class="" aria-label="breadcrumb" style="margin-bottom:1px; margin-top:1px">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
        <li class="active breadcrumb-item" aria-current="page">Employee Payroll</li>
    </ol>
</nav>
<nav class="breadcrumb" aria-label="breadcrumb">
    <img src="~/Content/img/notification/3.jpg" style="width:60px;height:100%; border-radius:50%;margin-right:20px;" />
    <table style="margin:0px;">
        <tr>
            <td class=" font-weight-bolder">Muhammad Siqaf</td>
        </tr>
        <tr style="font:50px;">
            <td>Registration No : </td>
            <td>12345</td>
        </tr>
    </table>
</nav>
<div class="mb-3 card">
    <div class="col-lg-12 table-responsive-sm">
        <table class="table table-no-bordered text-uppercase font-weight-bold" style="width:100%; margin-top:5px;">
            <thead class="bg-heavy-rain">
            <tr>
                <th class="Tdhead">Employee Payroll</th>
                <th><a asp-action="Employeepayroll"asp-controller="EmployeePortal" class="btn btn-outline-info float-right Tdhead">Pay Roll Detail</a></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" class="tdbody">Muhammad Siqaf<span style="font-size:smaller;padding-left:10px;">(assistant director)</span></td>
                </tr>
                <tr>
                    <td colspan="2" class="tdbody">emp-333-2231</td>
                </tr>
                <tr>
                    <td colspan="2" class="tdbody">accounts department</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-12">
        <table class="table table-responsive-sm table-striped table-hover text-center"id="tdbody" style="width:100%;margin-bottom:15px" id="attendencetable">
            <tbody class="table-bordered">
                <tr class="bg-heavy-rain text-uppercase">
                    <th>S.No</th>
                    <th>Pay Month</th>
                    <th>Session</th>
                    <th>BPS</th>
                    <th>Basic Pay</th>
                    <th>Gross Salary</th>
                    <th>Net Pay</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>July-2022</td>
                    <td>2022-23</td>
                    <td>17</td>
                    <td>30,500</td>
                    <td>42,000</td>
                    <td><a asp-action="EmployeePayrollPrint"asp-controller="EmployeePortal">Print</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>July-2022</td>
                    <td>2022-23</td>
                    <td>17</td>
                    <td>30,500</td>
                    <td>42,000</td>
                    <td><a asp-action="EmployeePayrollPrint" asp-controller="EmployeePortal">Print</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>July-2022</td>
                    <td>2022-23</td>
                    <td>17</td>
                    <td>30,500</td>
                    <td>42,000</td>
                    <td><a asp-action="EmployeePayrollPrint" asp-controller="EmployeePortal">Print</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#li1").addClass("mm-active");
        $("#li2").removeClass("mm-active");
        $("#li3").removeClass("mm-active");
        $("#li4").removeClass("mm-active");
        $("#li5").removeClass("mm-active");
        $("#li6").removeClass("mm-active");
        $("#li7").removeClass("mm-active");
        $("#li8").removeClass("mm-active");
        $("#li9").removeClass("mm-active");
        $("#li10").removeClass("mm-active");
        $("#li11").removeClass("mm-active");
        $("#li12").removeClass("mm-active");
    });
</script>


